body {
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(to bottom, #37474F, #00BCD4);
  background-size: 800% 800%;
  animation: gradientAnimation 30s ease infinite;
  animation-play-state: running;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.image-container img {
  width: 45%;
  max-width: 500px;
  max-height: 350px;
  min-height: 350px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}

/* Semi-transparent container for data */
#data {
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparency */
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 25%; }
  50% { background-position: 0% 0%; }
  100% { background-position: 0% 25%; }
}
