body {
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(to bottom, #4527A0, #26A69A);
  background-size: 800% 800%;
  animation: gradientAnimation 30s ease infinite;
  animation-play-state: running;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.image-container img {
  width: 45%;
  max-width: 500px;
  max-height: 350px; /* Set the maximum height */
  min-height: 350px; /* Set the minimum height */
  height: 300px; /* Set the actual height to ensure consistency */
  object-fit: cover; /* Maintains aspect ratio by scaling down */
  object-position: center; /* Center the image within the container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 20px; /* Add space between the images */
}

/* Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 25%; }
  50% { background-position: 0% 0%; }
  100% { background-position: 0% 25%; }
}
