/* General styles */
body {
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(to bottom, #009688, #303F9F);
  background-size: 400% 400%;
  animation: gradientAnimation 30s ease infinite;
  animation-play-state: running;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  position: relative;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  margin-bottom: 20px;
}

.image-link {
  display: inline-block; /* Ensure the anchor and image are inline */
  margin: 0 20px; /* Add space between the images */
}

/* Image styles */
.image-link img {
  width: 45%;
  max-width: 500px;
  min-width: 500px;
  max-height: 350px; /* Set the maximum height */
  min-height: 350px; /* Set the minimum height */
  height: 300px; /* Set the actual height to ensure consistency */
  object-fit: cover; /* Maintains aspect ratio by scaling down */
  object-position: center; /* Center the image within the container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Smooth transform effect */
}

/* Hover effect for the images */
.image-link:hover img {
  transform: scale(1.05); /* Slightly larger when hovered */
}

/* Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 0% 0%; }
  100% { background-position: 0% 50%; }
}

/* Collapsible Section Styling */
.info-section {
  display: none; /* Initially hidden */
  position: relative;
  margin-top: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  line-height: 1.5;
  width: 70%;
  margin: 20px auto;
}
